[submodule "3rdparty/nvrhi"]
	path = 3rdparty/nvrhi
	url = https://github.com/NVIDIAGameWorks/nvrhi
	branch = main
[submodule "3rdparty/assimp"]
	path = 3rdparty/assimp
	url = https://github.com/assimp/assimp
